* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  user-select: none;

  &[data-color="#FD1"] {
    background-color: #FD1;
  }
  &[data-color="#FAA"] {
    background-color: #FAA;
  }
  &[data-color="#FFA"] {
    background-color: #FFA;
  }
  &[data-color="#AAF"] {
    background-color: #AAF;
  }
  
  .hidden {
    display: none;
  }
}

html, body, .App {
  overflow: hidden;
}

.App {
  background: radial-gradient(circle at 100% 0%, #3e7055, #316147);
  background-repeat: no-repeat;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: fixed;
  height: 3rem;
  width: 100%;
  z-index: 9999;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }


  .color-select {
    position: relative;
    width: 3rem;
    height: 1rem;
    content: "v";

    .color-options {
      position: absolute;
      top: 100%;
      left: 0;

      li {
        height: 1rem;
        width: 3rem;
        transition: margin 0.2s;

        &:hover {
          margin: 0px 0px 0px 2px;
        }
      }
    }
  }

  .layout-select {
    button {
      background-color: transparent;
      border-radius: 6px;
      align-items: center;
      padding: 4px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .trash {
    user-select: none;
    &:hover {
    }

  }
}

.sticky-container {
  height: calc(100% - 1rem);

  .sticky-wrapper {
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.6));
    position: absolute;
  }
  .sticky {
    position: relative;
    min-height: 10.25rem;
    min-width: 10rem;
    clip-path: polygon(0 0, 0 calc(100% - 4px), calc(100% - 16px) calc(100% - 4px), 100% calc(100% - 19px), 100% 0);
    touch-action: none;

    div {
      height: 1.25rem;
      &:hover{
        cursor: pointer;
      }
    }

    textarea {
      min-width: 11rem;
      min-height: 10rem;
      color: #454545;
      font-weight: bold;
      user-select: text;
      background-color: transparent;
        margin: 0 !important;
      &::-webkit-scrollbar{
        z-index: 1;
        width: 16px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb{
        border-width: 8px;
        padding: 8px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.35);
      }
      &::-webkit-resizer {
        width: 16px;
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.alerts-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
